.delete-confirm {
    margin-block-start: 1rem;
    max-width: 35rem;    
}

.delete-confirm__actions {
    margin-block-start: 1.5rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.delete-confirm__actions-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    font-size: 1.5rem;
    transition: 0.3s;
    width: 10rem;
    height: 3.6rem;
    font-weight: 600;
    color: #525252;
}

.delete-confirm__actions-button:hover {
    background-color: #DDD;
    color: #333;
}

.delete-confirm__actions-button:disabled:hover {
    background-color: unset;
    cursor: default;
}

.delete-confirm__actions--delete {
    background-color: #FEE2E2;
    color: #DC2626;
}

.delete-confirm__actions--delete:hover {
    background-color: #DC2626;
    color: #FFF;
}

.delete-confirm__actions--delete:disabled {
    opacity: 0.5;
    cursor: default;
}

.delete-confirm__actions--delete:disabled:hover {
    background-color: #FEE2E2;
    color: #DC2626;
}