html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

 ul {
    list-style: none;
}

.main {
    max-width: 100.4rem;
    margin-inline: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin-block-start: 1rem;
}

.form__error {
    color: #e01818;
    font-size: 1.3rem;
}

@media (min-width: 768px){
    .header {
        margin-block-start: 4rem;
    }
}